<header class="toolbar">
	<div class="background"></div>
	<div class="toolbar__container">
		<a class="toolbar__logo" href="">
			<img src="../../assets/images/logo_ru.svg" alt="Logo">
		</a>
		<nav>
			<ul class="toolbar__navigation">
				<li class="toolbar__links"><a href="">Что делаем</a>
					<ul class="toolbar__sublist">
						<li><a href="">Для специалистов</a></li>
						<li><a href="">Для компаний</a></li>
						<li><a href="">Для экспертов</a></li>
						<li><a href="">Для образования</a></li>
					</ul>
				</li>
				<li class="toolbar__links"><a href="">Цены</a>
					<ul class="toolbar__sublist">
						<li><a href="">Для специалистов</a></li>
						<li><a href="">Для компаний</a></li>
					</ul>
				</li>
				<li class="toolbar__links"><a href="">Профессии</a></li>
				<li class="toolbar__links"><a class="link-reg" href="">Регистрация</a></li>
				<li class="toolbar__links"><a href="">Вход</a></li>
			</ul>
		</nav>
	</div>
</header>
