<div class="footer">
	<div class="footer__container">
		<ul class="footer__list">
			<li><a href="">О Cloveri</a></li>
			<li><a href="">Компаниям</a></li>
			<li><a href="">Кадровым агентствам</a></li>
			<li><a href="">Экспертам</a></li>
			<li><a href="">Тарифы</a></li>
			<li><a href="">Контакты</a></li>
		</ul>
		<ul class="footer__list">
			<li><a href="">Frontend-разработчик</a></li>
			<li><a href="">PHP-разработчик</a></li>
			<li><a href="">Web-разработчик</a></li>
		</ul>
		<ul class="footer__list">
			<li><a href="">Инженер инфраструктуры, DevOps</a></li>
			<li><a href="">Linux-администратор</a></li>
			<li><a href="">Anykey-специалист</a></li>
		</ul>
	</div>
</div>
