

.card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	max-height: 680px;
	gap: 5px;
	background-color: white;

	&__box {
		display: flex;
		justify-content: flex-end;
		width: 45%;
		border: .5px solid #ebebec;
		transition: 0.3s;
		color:rgb(71, 71, 71);
	&:hover {
		box-shadow: 11px 11px 5px -9px rgba(169, 169, 169, 1);
		cursor: pointer;
	};
	}
	&__image {
		height: 50px;
	}

	&__name {
		display: flex;
		min-height: 50px;
		height: 50%;
		font-size: 1.3em;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
}

