.main-section {
	// height: 465px;
	// background-image: linear-gradient(rgba(8, 26, 104, 0.7), rgba(3, 101, 182, 0.6)), url(../../assets/images/photo.jpg);
	// background-size: cover;
	// background-position: center center;
	// &__background{
	// 	background-image: linear-gradient(rgba(8, 26, 104, 0.7), rgba(3, 101, 182, 0.6)), url(../../assets/images/photo.jpg);
	// 	height: 465px;
	// 	width: 100%;
	// 	position: fixed;
	// 	z-index: -1;
	// }



	&__background {
		background-image: linear-gradient(rgba(8, 26, 104, 0.7), rgba(3, 101, 182, 0.6)), url(../../assets/images/photo.jpg);
		background-size: cover;
		background-position: center center;
		height: 700px;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: -1;
	}

	&__container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		max-width: 1200px;
		height: 500px;
		color: white;
		padding: 0 15px;
		background-color: rgba(0, 0, 0, 0);
	}
	&__title {
		font-size: 4em;
		font-weight: 300;
		letter-spacing: 0.02em;
	}

	&__description {
		font-size: 1.5em;
		margin-top: 30px;
	}
}
